
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>मौन गूँज - मुख्य पृष्ठ</title>
    <!-- Stylesheets -->
    <%=require('html-loader!./partials/stylesheets.html')%>
    <!-- End Stylesheets -->
</head>
<body>
  <div class="wrapper">
      <!--Header-->
      <%=require('html-loader!./partials/header.html')%>
      <!--End Header-->

      <main class="main-content">
          <%=require('html-loader!./partials/section-pt-2.html')%>
          <!-- theme-banner-four -->
          <!-- <%=require('html-loader!./partials/theme-banner-four.html')%> -->
          <!-- end theme-banner-four -->
          
          <section class="section pt-8">
              <div class="container">
                  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
                      <h2>Let's see our <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate">works</mark></h2>
                      <p class="lead">If you are looking to work with us do not hesitate to contact us via the contact page.</p>
                  </div>
                  <div class="row">
                      <div class="col-sm-12">

                          <div class="cbp-l-center">
                              <div id="js-filters-agency" class="cbp-l-filters-text">
                                  <div class="cbp-l-filters-text-sort">Filter by:</div>
                                  <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                                      All <div class="cbp-filter-counter"></div>
                                  </div> |
                                  <div data-filter=".identity" class="cbp-filter-item">
                                      Identity <div class="cbp-filter-counter"></div>
                                  </div> |
                                  <div data-filter=".web-design" class="cbp-filter-item">
                                      Web Design <div class="cbp-filter-counter"></div>
                                  </div> |
                                  <div data-filter=".graphic" class="cbp-filter-item">
                                      Graphic <div class="cbp-filter-counter"></div>
                                  </div> |
                                  <div data-filter=".logos" class="cbp-filter-item">
                                      Logo <div class="cbp-filter-counter"></div>
                                  </div>
                              </div>
                              <div id="js-sort-agency" class="cbp-l-sort cbp-l-sort--simple">
                                  <div class="cbp-l-text-sort">Sort by: </div>
                                  <div class="cbp-l-dropdown">
                                      <div class="cbp-l-dropdown-wrap">
                                          <div class="cbp-l-dropdown-header">Original order</div>
                                          <div class="cbp-l-dropdown-list">
                                              <div class="cbp-l-dropdown-item cbp-sort-item cbp-l-dropdown-item--active" data-sort="" data-sortBy="">Original order</div>
                                              <div class="cbp-l-dropdown-item cbp-sort-item" data-sort=".cbp-l-grid-agency-title" data-sortBy="string:asc">Title - ASC</div>
                                              <div class="cbp-l-dropdown-item cbp-sort-item" data-sort=".cbp-l-grid-agency-title" data-sortBy="string:desc">Title - DESC</div>
                                              <div class="cbp-l-dropdown-item cbp-sort-item" data-sort=".cbp-l-grid-agency-desc" data-sortBy="string:asc">Description - ASC</div>
                                              <div class="cbp-l-dropdown-item cbp-sort-item" data-sort=".cbp-l-grid-agency-desc" data-sortBy="string:desc">Description - DESC</div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="cbp cbp-l-grid-agency mb-8"
                               data-filters="#js-filters-agency"
                               data-layout-mode="grid"
                               data-animation-type='slideLeft'
                               data-caption='zoom'
                               data-display-type='fadeIn'
                               data-display-type-speed="100"
                               data-gap-horizontal="35"
                               data-gap-vertical="15"
                               data-plugin-sort-element="#js-sort-agency"
                               data-media-queries='[
                                  {"width": 1500, "cols": 4},
                                  {"width": 1100, "cols": 4},
                                  {"width": 800, "cols": 3},
                                  {"width": 480, "cols": 2},
                                  {"width": 300, "cols": 1}
                                ]'>
                              <div class="cbp-item graphic">
                                  <a href="assets/images/portfolio-1.jpg" target="_blank">
                                      <div class="cbp-caption">
                                          <div class="cbp-caption-defaultWrap">
                                              <img src="assets/images/portfolio-1.jpg" data-cbp-src="assets/images/portfolio-1.jpg" alt="" width="380" height="320">
                                          </div>
                                      </div>
                                      <div class="cbp-l-grid-agency-title">Dashboard</div>
                                      <div class="cbp-l-grid-agency-desc">Web Design / Graphic</div>
                                  </a>
                              </div>
                              <div class="cbp-item web-design logos">
                                  <a href="assets/images/portfolio-2.jpg" target="_blank">
                                      <div class="cbp-caption">
                                          <div class="cbp-caption-defaultWrap">
                                              <img src="assets/images/portfolio-2.jpg" data-cbp-src="assets/images/portfolio-2.jpg" alt="" width="380" height="320">
                                          </div>
                                      </div>
                                      <div class="cbp-l-grid-agency-title">World Clock</div>
                                      <div class="cbp-l-grid-agency-desc">Logo / Web Design</div>
                                  </a>
                              </div>
                              <div class="cbp-item graphic logos">
                                  <a href="assets/images/portfolio-3.jpg" target="_blank">
                                      <div class="cbp-caption">
                                          <div class="cbp-caption-defaultWrap">
                                              <img src="assets/images/portfolio-3.jpg" data-cbp-src="assets/images/portfolio-3.jpg" alt="" width="380" height="320">
                                          </div>
                                      </div>
                                      <div class="cbp-l-grid-agency-title">To-Do Dashboard</div>
                                      <div class="cbp-l-grid-agency-desc">Graphic / Logo</div>
                                  </a>
                              </div>
                              <div class="cbp-item web-design graphic">
                                  <a href="assets/images/portfolio-4.jpg" target="_blank">
                                      <div class="cbp-caption">
                                          <div class="cbp-caption-defaultWrap">
                                              <img src="assets/images/portfolio-4.jpg" data-cbp-src="assets/images/portfolio-4.jpg" alt="" width="380" height="320">
                                          </div>
                                      </div>
                                      <div class="cbp-l-grid-agency-title">Events and More</div>
                                      <div class="cbp-l-grid-agency-desc">Web Design / Graphic</div>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="container">
                  <div class="row text-center">
                      <div class="col-sm-12">
                          <a class="btn btn-sleek-primary transition-hover pr-5 pl-5" href="#" target="_self">
                              View All Project
                          </a>
                      </div>
                  </div>
              </div>
          </section>

          <!--
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          | Parallax video
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          !-->
          <section class="section text-white text-center ml-0 mr-0 ml-lg-5 mr-lg-5" data-video="mp4:assets/video/video_space_cover.mp4">
              <div class="container">
                  <header class="section-header mb-3">
                      <img src="assets/images/logo-white.png" />
                  </header>

                  <p class="white-color fs-24 fw-100">
                      Our themes power more than <b class="fsx">24,000</b> <br />
                      websites all over the world
                  </p>

                  <a class="btn btn-sleek-white transition-hover mt-4 btn-wide mb-5 common-Link--arrow" href="#" target="_self">
                      More About Us
                  </a>
              </div>
              <figure class="position-absolute right-0 bottom-0 left-0 z-index-2 mb-0">
                  <img class="js-svg-injector" src="./assets/svgs/divider-bottom.svg" alt="Image Description">
              </figure>
          </section>

          <section class="section">
              <div class="container">
                  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
                      <h2>Fast and easy <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate">design</mark></h2>
                      <p class="lead">Join The Ultimate And Awesome Experience</p>
                  </div>

                  <div class="row justify-content-lg-center">
                      <div class="col-md-6 col-lg-5 mb-7">
                          <div class="media pr-lg-5">
                              <div class="w-60px mr-4">
                                  <img class="icon bg-primary" src="assets/svgs/bulb-1.svg" alt="Icon" data-inject-svg />
                              </div>
                              <div class="media-body">
                                  <h3 class="h5 mt-0 mb-2">Get started instantly</h3>
                                  <p class="mb-1"> Sed quis dolor in lacus ullamcorper euismod nec et nibh. <a href="#" class="anim-link-2 anim-link-2-primary">Morbi</a> mollis, enim vitae. </p>
                                  <a href="#" class="anim-link-2 anim-link-2-primary  common-Link--arrow common-BodyText">Explore now  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-5 mb-7">
                          <div class="media pl-lg-5">
                              <div class="w-60px mr-4">
                                  <img class="icon bg-primary" src="assets/svgs/crop.svg" alt="Icon" data-inject-svg />
                              </div>
                              <div class="media-body">
                                  <h3 class="h5 mt-0 mb-2">Full Responsive <span class="badge bg-secondary font-weight-normal">Unique</span></h3>
                                  <p class="mb-1"> Sed quis dolor in lacus <span class="m-link-muted">ullamcorper</span> euismod nec et nibh. Morbi mollis enim vitae euism. </p>
                                  <a href="#" class="anim-link-2 anim-link-2-primary common-Link--arrow common-BodyText">Explore now  </a>
                              </div>
                          </div>
                      </div>
                      <div class="w-100"></div>
                      <div class="col-md-6 col-lg-5 mb-7">
                          <div class="media pr-lg-5">
                              <div class="w-60px mr-4">
                                  <img class="icon bg-primary" src="assets/svgs/brush.svg" alt="Icon" data-inject-svg />
                              </div>
                              <div class="media-body">
                                  <h3 class="h5 mt-0 mb-2">Easy to Customize</h3>
                                  <p class="mb-1"> Sed quis dolor in lacus ullamcorper euismod nec et nibh. Morbi mollis euismod.. </p>
                                  <a href="#" class="anim-link-2 anim-link-2-primary common-Link--arrow common-BodyText">Explore now </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-5 mb-7">
                          <div class="media pl-lg-5">
                              <div class="w-60px mr-4">
                                  <img class="icon bg-primary" src="assets/svgs/couch.svg" alt="sketch icon" data-inject-svg />
                              </div>
                              <div class="media-body">
                                  <h3 class="h5 mt-0 mb-2">Clean And Modern</h3>
                                  <p class="mb-1"> Sed quis dolor in lacus ullamcorper euismod nec et nibh. Morbi mollis, enim vitae rutru. </p>
                                  <a href="#" class="anim-link-2 anim-link-2-primary common-Link--arrow common-BodyText">Explore now </a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="row text-center">
                      <div class="col-sm-12 mt-2">
                          <a class="btn btn-sleek-primary transition-hover pr-5 pl-5" href="#" target="_self">
                              Let's See Our Features
                          </a>
                      </div>
                  </div>
              </div>
          </section>

          <section class="section">
              <div class="container">
                  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
                      <h2>Meet our <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate">team</mark></h2>
                      <p class="lead">Join The Ultimate And Awesome Experience</p>
                  </div>

                  <div class="row">
                      <div class="col-sm-6 col-md-6 col-lg-3">

                          <div class="team-member">
                              <div class="position-relative">
                                  <img class="img-fluid w-100 rounded" src="assets/images/t1.jpg" alt="Roberto Willis">
                                  <div class="member-social">
                                      <div class="member-social-inner">
                                          <ul class="list-inline">
                                              <li>
                                                  <a target="_blank" href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Facebook">
                                                      <i class="fab fa-facebook"></i>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a target="_blank" href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Twitter">
                                                      <i class="fab fa-twitter"></i>
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="card border-0">
                                  <div class="card-body text-center p-3">
                                      <h3 class="h5 mb-0">Roberto Willis</h3>
                                      <p class="font-weight-light mb-0 small">Co-Founder</p>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-3">

                          <div class="team-member">
                              <div class="position-relative">
                                  <img class="img-fluid w-100 rounded" src="assets/images/t5.jpg" alt="Roberto Willis">
                                  <div class="member-social">
                                      <div class="member-social-inner">
                                          <ul class="list-inline">
                                              <li>
                                                  <a target="_blank" href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Facebook">
                                                      <i class="fab fa-facebook"></i>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a target="_blank" href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Twitter">
                                                      <i class="fab fa-twitter"></i>
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="card border-0">
                                  <div class="card-body text-center p-3">
                                      <h3 class="h5 mb-0">Victoria Loda</h3>
                                      <p class="font-weight-light mb-0 small">Web Developer</p>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-3">

                          <div class="team-member">
                              <div class="position-relative">
                                  <img class="img-fluid w-100 rounded" src="assets/images/t2.jpg" alt="Roberto Willis">
                                  <div class="member-social">
                                      <div class="member-social-inner">
                                          <ul class="list-inline">
                                              <li>
                                                  <a target="_blank" href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Facebook">
                                                      <i class="fab fa-facebook"></i>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a target="_blank" href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Twitter">
                                                      <i class="fab fa-twitter"></i>
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="card border-0">
                                  <div class="card-body text-center p-3">
                                      <h3 class="h5 mb-0">John Doe</h3>
                                      <p class="font-weight-light mb-0 small">Designer</p>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-3">

                          <div class="team-member">
                              <div class="position-relative">
                                  <img class="img-fluid w-100 rounded" src="assets/images/t4.jpg" alt="Roberto Willis">
                                  <div class="member-social">
                                      <div class="member-social-inner">
                                          <ul class="list-inline">
                                              <li>
                                                  <a target="_blank" href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Facebook">
                                                      <i class="fab fa-facebook"></i>
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="card border-0">
                                  <div class="card-body text-center p-3">
                                      <h3 class="h5 mb-0">John Smith</h3>
                                      <p class="font-weight-light mb-0 small">Software Developer</p>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </section>

          <section data-overlay="3" class="m-gab-3" data-parallax="assets/images/h26.jpg">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-md-8">
                          <div class="clearfix">
                              <h2 class="text-white font-weight-bold fs-40">
                                  Let's Work Togather
                              </h2>
                              <p class="text-white mt-3 mb-4 lead">
                                  Get in touch with us and let us help you, we can make your <br /> project come true.
                              </p>
                              <a href="#getStarted" class="btn btn-outline-light">
                                  Get Started
                              </a>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <a href="https://www.youtube.com/watch?v=bmixiVwtDso" class="m-video-link" data-provide="lightbox">
                              <div class="m-video-link--icon"><i class="fas fa-play"></i></div>
                              <div class="m-video-link--text text-white">
                                  <div>Watch</div>
                                  <div class="font-weight-bold">INTRO VIDEO</div>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="oval-divider--top oval-divider--5"></div>
              <div class="oval-divider--bottom oval-divider--5"></div>
          </section>

          <section class="section">
              <div class="container">
                  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
                      <h2>Our happy <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate">clients</mark></h2>
                      <p class="lead">Our clients are the life-source of our business and the force behind our innovations.</p>
                  </div>

                  <div class="row justify-content-center">
                      <div class="col-md-12">
                          <div data-provide="slider" data-slides-to-show="7" data-slides-to-scroll="3" data-autoplay="true" data-dots="true">
                              <div><img class="p-4 opacity-04" src="assets/images/01.png"></div>
                              <div><img class="p-4 opacity-04" src="assets/images/02.png"></div>
                              <div><img class="p-4 opacity-04" src="assets/images/03.png"></div>
                              <div><img class="p-4 opacity-04" src="assets/images/04.png"></div>
                              <div><img class="p-4 opacity-04" src="assets/images/05.png"></div>
                              <div><img class="p-4 opacity-04" src="assets/images/04.png"></div>
                              <div><img class="p-4 opacity-04" src="assets/images/03.png"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>

          <section class="section pt-6 pb-8 bg-light">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-8 text-center text-sm-left">
                          <h2 class="h3 primary-color mb-0 fw-400">Redy to get started?</h2>
                          <h3 class="h4 mb-0 fw-400">Create a free account or get in touch.</h3>
                      </div>
                      <div class="col-sm-4">
                          <div class="text-center text-lg-right">
                              <a class="btn btn-primary transition-hover mt-3 mb-0 mr-2" target="_blank" href="#"><span>Get Started</span></a>
                              <a class="btn btn-secondary transition-hover mt-3 mb-0" href="#" target="_self"><span class="text">Get in Touch</span></a>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </main>

      <!--Footer-Wrap-->
      <footer class="border-top border-bottom bg-light">
          <div class="container m-gab-2">
              <div class="row">
                  <div class="col-sm-5 mb-5 mb-lg-0">
                      <img alt="Vertex" src="assets/images/logo.png" class="mb-4" width="150">
                      <p class="fs-20">
                          <span class="m-link">Master</span> is the innovation platform <br>
                          for business. And cats.
                      </p>
                      <span class="fs-12">Follow us on</span>
                      <a href="#" class="primary-color fs-12">Facebook</a>,
                      <a href="#" class="primary-color fs-12">LinkIn</a>,
                      <a href="#" class="primary-color fs-12">Twitter</a>,
                      <a href="#" class="primary-color fs-12">Instagram</a>
                  </div>
                  <div class="col-sm-3 mb-5 mb-lg-0">
                      <h3 class="h6 text-uppercase fs-14">
                          <strong>Solutions</strong>
                      </h3>
                      <ul class="list-unstyled mb-0">
                          <li><a class="m-list--link" href="#">Master Management</a></li>
                          <li><a class="m-list--link" href="#">Continues Implamanted</a></li>
                          <li><a class="m-list--link" href="#">Employee Engagement</a> </li>
                          <li><a class="m-list--link" href="#">Change Management</a> </li>
                          <li><a class="m-list--link" href="#">View more...</a> </li>
                      </ul>
                  </div>
                  <div class="col-sm-2 mb-5 mb-lg-0">
                      <h3 class="h6 text-uppercase fs-14">
                          <strong>Product</strong>
                      </h3>
                      <ul class="list-unstyled mb-0">
                          <li><a class="m-list--link" href="#">Why Master</a></li>
                          <li><a class="m-list--link" href="#">Sign up Free</a></li>
                          <li><a class="m-list--link" href="#">Get a Demo</a> </li>
                          <li><a class="m-list--link" href="#">Features</a> </li>
                          <li><a class="m-list--link" href="#">Pricing</a> </li>
                      </ul>
                  </div>
                  <div class="col-sm-2">
                      <h3 class="h6 text-uppercase fs-14">
                          <strong>Customers</strong>
                      </h3>
                      <ul class="list-unstyled mb-0">
                          <li><a class="m-list--link" href="#">Getting Started Guide</a></li>
                          <li><a class="m-list--link" href="#">Customer Success</a></li>
                          <li><a class="m-list--link" href="#">Wall of Love</a> </li>
                          <li><a class="m-list--link" href="#">Help Center</a> </li>
                          <li><a class="m-list--link" href="#">Partners</a> </li>
                      </ul>
                  </div>
              </div>
          </div>

          <hr class="mt-0 mb-1">

          <!-- Copyright -->
          <%=require('html-loader!./partials/copyrights.html')%>
          <!-- End Copyright -->
      </footer>
      <!--End Footer-Wrap-->
  </div>
  <%=require('html-loader!./partials/javascripts.html')%>
</body>
</html>