
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>मौन गूँज - मुख्य पृष्ठ</title>
    <!-- Stylesheets -->
    <%=require('html-loader!./partials/stylesheets.html')%>
    <!-- End Stylesheets -->
</head>
<body>
    <div class="wrapper">
        <!--Header-->
        <%=require('html-loader!./partials/header.html')%>
        <!--End Header-->

        <main class="main-content">
          <section class="section m-gab-4 custom-section-2">
              <div class="container z-index-10">
                  <div class="row">
                      <div class="w-md-80 w-lg-80 text-center mb-3 mx-md-auto">
                          <h2 class="fw-500"> हैलो, हम हैं <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate">मौन गूँज</mark> </h2>
                      </div>
                      <div class="col-md-12 text-center">
                          <p class="lead">
                            उन भावुक लोगों से मिलें जो शीर्ष <br />
                            कमाई वाले ऐप्स बनाते हैं। 
                            <a href="../page/contact-us.html" class="anim-link">हमसे जुड़ें <span class="icon-arrow-right ml-1"></span></a>
                          </p>
                      </div>
                  </div>
              </div>
          </section>

          <section class="m-gab-0-top">
              <div class="container">
                  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-3">
                      <h5 class="mb-4">कोर <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate">टीम</mark></h5>
                  </div>
                  <div class="row justify-content-center">
                      <div class="col-md-3">
                          <div class="team-member">
                              <div class="position-relative">
                                  <img class="img-fluid w-100 rounded" src="/assets/images/t1.jpg" alt="Roberto Willis">
                                  <div class="member-social">
                                      <div class="member-social-inner">
                                          <ul class="list-inline">
                                              <li>
                                                  <a target="_blank" href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Facebook">
                                                      <i class="fab fa-facebook"></i>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a target="_blank" href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Twitter">
                                                      <i class="fab fa-twitter"></i>
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="card border-0">
                                  <div class="card-body text-center p-3">
                                      <h3 class="h6 mb-0">रॉबर्टो विलिस</h3>
                                      <p class="font-weight-light mb-0">सह-संस्थापक</p>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-3">

                          <div class="team-member">
                              <div class="position-relative">
                                  <img class="img-fluid w-100 rounded" src="/assets/images/t5.jpg" alt="Roberto Willis">
                                  <div class="member-social">
                                      <div class="member-social-inner">
                                          <ul class="list-inline">
                                              <li>
                                                  <a target="_blank" href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Facebook">
                                                      <i class="fab fa-facebook"></i>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a target="_blank" href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Twitter">
                                                      <i class="fab fa-twitter"></i>
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="card border-0">
                                  <div class="card-body text-center p-3">
                                      <h3 class="h6 mb-0">विक्टोरिया लॉडा</h3>
                                      <p class="font-weight-light mb-0">वेब डेवलपर</p>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-3">

                          <div class="team-member">
                              <div class="position-relative">
                                  <img class="img-fluid w-100 rounded" src="/assets/images/t2.jpg" alt="Roberto Willis">
                                  <div class="member-social">
                                      <div class="member-social-inner">
                                          <ul class="list-inline">
                                              <li>
                                                  <a target="_blank" href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Facebook">
                                                      <i class="fab fa-facebook"></i>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a target="_blank" href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Twitter">
                                                      <i class="fab fa-twitter"></i>
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="card border-0">
                                  <div class="card-body text-center p-3">
                                      <h3 class="h6 mb-0">जॉन डो</h3>
                                      <p class="font-weight-light mb-0">डिजाइनर</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="row justify-content-center m-gab-3-top">
                      <div class="col-lg-8">
                          <div class="media">
                              <img alt="" class="rounded-circle mr-5 mt-2" src="/assets/images/avatar3.jpg" style="width: 100px;">
                              <div class="media-body">
                                  <h5>की तरफ से संदेश <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate">सी ई ओ</mark></h5>
                                  <blockquote class="blockquote">
                                      <p class="lead">
                                        "कल नॉन-प्रेग्नेंट में निब को गाजर। देखभाल के लिए कोई चॉकलेट या ड्यूरेस नहीं। कल चिल्ली हेट बेटिंग ऑन अ कार्टून।"
                                      </p>
                                      <footer class="blockquote-footer text-dark">जॉन डो के <cite title="Source Title">सीईओ</cite></footer>
                                  </blockquote>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>



          <section class="section m-gab-2-bottom">
              <div class="container-fluid">
                  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
                      <h2>हमारी <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate">टीम </mark>देखें</h2>
                      <p>
                        वर्टेक्स के मूल्य निर्धारण के साथ बॉक्स से <a href="#">100+ सुविधाएँ</a>  प्राप्त करें
                      </p>
                  </div>

                  <div class="hurdles hurdles-normal js-hurdles">
                      <div class="hurdles-bubbles">
                      </div>
                  </div>
                  <script type="application/json" id="site-about-config">
                      { "bubbleNodes":[
                      {"title":"Michael Feldstein", "job": "Web Developer", "type":"blue", "src":"/assets/images/a1.jpg"},
                      {"title":"John Doe","type":"blue", "job": "Web Developer", "src":"/assets/images/a2.jpg"},
                      {"title":"Kate Brown","type":"blue", "job": "Web Developer", "src":"/assets/images/a3.jpg"},
                      {"title":"Somchai Chomsombat","type":"blue", "job": "Web Developer", "src":"/assets/images/a4.jpg"},
                      {"title":"Kate Brown","type":"blue", "job": "Web Developer", "src":"/assets/images/a5.jpg"},
                      {"title":"Akbar Widodo","type":"blue", "job": "Web Developer", "src":"/assets/images/a6.jpg"},
                      {"title":"William Richardson","type":"blue", "job": "Web Developer", "src":"/assets/images/a7.jpg"},
                      {"title":"Lars Jolink","type":"blue", "job": "Web Developer", "src":"/assets/images/Team-1.jpg"},
                      {"title":"Muhammad Simanjuntak","type":"blue", "job": "Web Developer", "src":"/assets/images/avatar2.jpg"},
                      {"title":"Somchai Chomsombat","type":"blue", "job": "Web Developer", "src":"/assets/images/Team-3.jpg"},
                      {"title":"William Richardson","type":"blue", "job": "Web Developer", "src":"/assets/images/avatar3.jpg"},
                      {"title":"William Richardson","type":"blue", "job": "Web Developer", "src":"/assets/images/Team-5.jpg"},
                      {"title":"John Doe","type":"blue", "job": "Web Developer", "src":"/assets/images/Team-6.jpg"},
                      {"title":"William Richardson","type":"blue", "job": "Web Developer", "src":"/assets/images/avatar5.jpg"},
                      {"title":"William Richardson","type":"blue", "job": "Web Developer", "src":"/assets/images/Team-8.jpg"}
                      ]}
                  </script>
              </div>
          </section>
          <section class="section">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-md-9">
                          <div class="row">
                              <div class="col-md-12">
                                  <h2>हमारी <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate">मान</mark></h2>
                                  <p class="lead mb-6">लोरम इप्सम डोलर एमीट, कंसेटेटुर एडिपिसिंग एलीट, सेड अस्थाई और जीवन शक्ति, ताकि श्रम और दुःख, कुछ महत्वपूर्ण चीजें ईसेमोड करें।</p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <ul class="list-unstyled">
                                      <li class="list-inline-item m-1">
                                          <div class="media border rounded-10rem p-2 px-5 align-items-center">
                                              <i class="icon-check-2 fs-24 text-primary mr-2"></i>
                                              <div class="media-body">
                                                  <span>सहानुभूति</span>
                                              </div>
                                          </div>
                                      </li>
                                      <li class="list-inline-item m-1">
                                          <div class="media border rounded-10rem p-2 px-5 align-items-center">
                                              <i class="icon-check-2 fs-24 text-primary mr-2"></i>
                                              <div class="media-body">
                                                  <span>के सौजन्य से</span>
                                              </div>
                                          </div>
                                      </li>
                                      <li class="list-inline-item m-1">
                                          <div class="media border rounded-10rem p-2 px-5 align-items-center">
                                              <i class="icon-check-2 fs-24 text-primary mr-2"></i>
                                              <div class="media-body">
                                                  <span>संपन्न</span>
                                              </div>
                                          </div>
                                      </li>
                                      <li class="list-inline-item m-1">
                                          <div class="media border rounded-10rem p-2 px-5 align-items-center">
                                              <i class="icon-check-2 fs-24 text-primary mr-2"></i>
                                              <div class="media-body">
                                                  <span>शिल्प कौशल</span>
                                              </div>
                                          </div>
                                      </li>
                                      <li class="list-inline-item m-1">
                                          <div class="media border rounded-10rem p-2 px-5 align-items-center">
                                              <i class="icon-check-2 fs-24 text-primary mr-2"></i>
                                              <div class="media-body">
                                                  <span>शोख़ी</span>
                                              </div>
                                          </div>
                                      </li>
                                      <li class="list-inline-item m-1">
                                          <div class="media border rounded-10rem p-2 px-5 align-items-center">
                                              <i class="icon-check-2 fs-24 text-primary mr-2"></i>
                                              <div class="media-body">
                                                  <span>एकजुटता</span>
                                              </div>
                                          </div>
                                      </li>
                                      <li class="list-inline-item m-1">
                                          <div class="media border rounded-10rem p-2 px-5 align-items-center">
                                              <i class="icon-check-2 fs-24 text-primary mr-2"></i>
                                              <div class="media-body">
                                                  <span>ख़ुशी</span>
                                              </div>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>

          <section data-overlay="2" class="vertical-center" style="min-height:600px;background-image:url(/assets/images/careers.jpg) ">
              <div class="container">
                  <div class="row align-items-center text-center">
                      <div class="col-md-12">
                          <h1 class="fs-40 text-white">नई नौकरी पाने का सबसे आसान तरीका</h1>
                          <p class="mb-4 text-white">
                            फाटक हमेशा झीलों का कोर्स होता है,
                            जीवन का बदला लेने वाला लिगुला लैकस फ़्यूगेटियर औटर रोनकस प्यूरीस लॉरिएट विटे के साथ पहला स्थान, सबसे पहले उनके बिस्तरों में:
                          </p>
                          <a href="#" class="btn btn-primary transition-hover mr-3">और देखो</a>
                          <a href="#" class="m-link-light">या अपना खुद का ऐप बनाएं</a>
                      </div>
                  </div>
              </div>
              <!--<div class="oval-divider--bottom oval-divider--1"></div>-->
          </section>

          <section class="section bg-light">
              <div class="container">
                  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
                      <h2 class="">सब <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate fw-500">उद्घाटन</mark></h2>
                      <p>हमारा लक्ष्य इनोवेशन को पॉवर देना है, चाहे कहीं भी हो।</p>
                  </div>

                  <div class="row justify-content-center border-bottom mb-5">
                      <div class="col-md-3">
                          <p class="lead text-dark">एनालिटिक्स</p>
                      </div>
                      <div class="col-md-6">
                          <ul class="check-list">
                              <li>
                                  <a href="#" class="fs-16 anim-link">सीनियर एनालिटिक्स, डेटा एनालिटिक्स</a>
                                  <p class="fs-14">सैन फ्रांसिस्को, सीए, <span class="o-6">पूर्णकालिक</span> </p>
                              </li>
                              <li>
                                  <a href="#" class="fs-16 anim-link">वरिष्ठ सॉफ्टवेयर इंजीनियर, सेल्स एम्पावरमेंट</a>
                                  <p class="fs-14">सैन फ्रांसिस्को, सीए, <span class="o-6">पूर्णकालिक</span> </p>
                              </li>
                              <li>
                                  <a href="#" class="fs-16 anim-link"> सॉफ्टवेयर इंजीनियर, एनालिटिक्स इन्फ्रास्ट्रक्चर</a>
                                  <p class="fs-14">सैन फ्रांसिस्को, सीए, <span class="o-6">पूर्णकालिक</span> </p>
                              </li>
                          </ul>
                      </div>
                  </div>

                  <div class="row justify-content-center">
                      <div class="col-md-3">
                          <p class="lead text-dark">वेब डिजाइनर</p>
                      </div>
                      <div class="col-md-6">
                          <ul class="check-list">
                              <li>
                                  <a href="#" class="fs-16 anim-link">सॉफ्टवेयर इंजीनियर, एनालिटिक्स इन्फ्रास्ट्रक्चर</a>
                                  <p class="fs-14">सैन फ्रांसिस्को, सीए, <span class="o-6">पूर्णकालिक</span> </p>
                              </li>
                              <li>
                                  <a href="#" class="fs-16 anim-link">वरिष्ठ सॉफ्टवेयर इंजीनियर, सेल्स एम्पावरमेंट</a>
                                  <p class="fs-14">सैन फ्रांसिस्को, सीए, <span class="o-6">पूर्णकालिक</span> </p>
                              </li>
                              <li>
                                  <a href="#" class="fs-16 anim-link"> सीनियर एनालिटिक्स, डेटा एनालिटिक्स</a>
                                  <p class="fs-14">सैन फ्रांसिस्को, सीए, <span class="o-6">पूर्णकालिक</span> </p>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </section>
      </main>

        <!--Footer-Wrap-->
        <footer class="border-top border-bottom bg-light">
            <!-- footer-content -->
            <%=require('html-loader!./partials/footer-content.html')%>
            <!-- end footer-content -->

            <hr class="mt-0 mb-1">

            <!-- Copyright -->
            <%=require('html-loader!./partials/copyrights.html')%>
            <!-- End Copyright -->
        </footer>
        <!--End Footer-Wrap-->
    </div>
    <%=require('html-loader!./partials/javascripts.html')%>
    <script src="http://master.bootstraptemplates.net/assets/js/bubble-nodes.js"></script>
</body>
</html>