
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>मौन गूँज - मुख्य पृष्ठ</title>
    <!-- Stylesheets -->
    <%=require('html-loader!./partials/stylesheets.html')%>
    <!-- End Stylesheets -->
</head>
<body>
    <div class="wrapper">
        <!--Header-->
        <%=require('html-loader!./partials/header.html')%>
        <!--End Header-->

        <main class="main-content">

          <section id="read-all" class="section pt-9">
              <div class="container">
                  <div class="row justify-content-center">

                      <div class="col-md-10 col-lg-8 text-center mt-6 mb-6">
                          <h1 class="mb-4">मोबाइल के अनुकूल डिजाइन</h1>

                          <div class="text-center">
                              <small class="text-muted mr-3">2 महीने पहले</small>

                              <div class="d-inline-block mr-3">
                                  <div class="avatar">
                                      <img class="img-fluid rounded-circle" src="/assets/images/a1.jpg" alt="Avatar">
                                  </div>
                              </div>

                              <div class="d-inline-block">
                                  <a href="/user/VeliDeli"><small class="text-muted anim-link-2">VeliDeli द्वारा
                                  </small></a>
                              </div>
                          </div>
                      </div>

                      <div class="col-lg-10 mb-6">

                          <img class="img-fluid rounded w-100 shadow-1" src="/assets/images/b-fw-2.jpg" alt="Mobile Friendly Design">
                      </div>

                      <div class="col-md-10 col-lg-8">

                          <p>
                            पाठ्यक्रम के लेखक लेखक। क्षेत्र के लिए नाम क्षेत्र, वित्तपोषण और फुटबॉल के वित्तपोषण, एक सलाद हड़पने। अब तक, वाहनों को विलाप करने के लिए उप-प्रकार। ग्लूटेन। तनाव Vulputate एयरलाइन सॉस। माइक्रोवेव कार्टून क्लिनिकल में शेर का निवेश प्राप्त होता है। हालाँकि यूरो हमेशा सेट। कल, मेरी ज़िंदगी थी, पॉसुले मोलिस अर्कू। पेलेरेसेक iaculis ac hendrerit gravida nulla। पोर्टिको का प्रवेश द्वार या झील के किनारे पर फुटबॉल बास्केटबॉल बहुत नरम है। नाम रुकावट, पेसेरेसेक को खो देता है, ऐसे खिलाड़ी जो मुझसे बाहर और बाहर के शून्य को काट लेते हैं। क्विवर चिली हमेशा मौजूद होती है, कभी-कभी वाहनों के द्रव्यमान में। कोई भी फ़ोटोग्राफ़ी हमेशा एक बड़ा डायम फुटबॉल जीवन और संस्कृति नहीं है।
                          </p>

                          <blockquote class="blockquote testimonial-quote blockquote-font ml-8 mt-4">
                              <p class="mb-4 text-dark fs-18">
                                लोरम इप्सम डोलर अमेट, कंसेटेटुर एडिपिसिंग एलीट। आरक्षित चमेली सुविधा की जरूरत है। चमेली जन। जब पल्स रेज सुपर बाउल पर्वत गुजरता है तो खिलाड़ी इच्छा करते हैं, और यह इच्छा मेरे द्वारा तुरंत कटौती योग्य नहीं है।
                              </p>
                          </blockquote>

                          <p>
                            पाठ्यक्रम के लेखक लेखक। क्षेत्र के लिए नाम क्षेत्र, वित्तपोषण और फुटबॉल के वित्तपोषण, एक सलाद हड़पने। अब तक, वाहनों को विलाप करने के लिए उप-प्रकार। ग्लूटेन। तनाव Vulputate एयरलाइन सॉस। माइक्रोवेव कार्टून क्लिनिकल में शेर का निवेश प्राप्त होता है। हालाँकि यूरो हमेशा सेट। कल, मेरी ज़िंदगी थी, पॉसुले मोलिस अर्कू। पेलेरेसेक iaculis ac hendrerit gravida nulla। पोर्टिको का प्रवेश द्वार या झील के किनारे पर फुटबॉल बास्केटबॉल बहुत नरम है। नेम ब्लॉकेज, पेसेरेसेक, गले की इच्छा रखने वाले खिलाड़ी।
                          </p>

                          <div style="width: 348px;margin: 5px 30px 5px 0;" class="float-left">
                              <img class="mb-2 rounded" src="/assets/images/taylor-grote.jpg" alt="">
                              <p class="text-center small">यह इमेज के लिए कैप्शन है</p>
                          </div>

                          <p>
                            पाठ्यक्रम के लेखक लेखक। क्षेत्र के लिए नाम क्षेत्र, वित्तपोषण और फुटबॉल का वित्तपोषण, एक सलाद पकड़ो। अब तक, वाहनों को विलाप करने के लिए उप-प्रकार। ग्लूटेन। तनाव Vulputate एयरलाइन सॉस। माइक्रोवेव कार्टून क्लिनिकल में शेर का निवेश प्राप्त होता है। हालाँकि यूरो हमेशा सेट। कल, मेरी ज़िंदगी थी, पोज़ियर मोलिस अर्कू। पेलेरेसेक iaculis ac hendrerit gravida nulla। पोर्टिको का प्रवेश द्वार या झील के किनारे पर फुटबॉल बास्केटबॉल बहुत नरम है। नाम रुकावट, पेसेरेसेक, खिलाड़ियों को छोड़ देता है, जो मेरे से बाहर और बाहर के शून्य को काट देते हैं। क्विवर चिली हमेशा मौजूद होती है, कभी-कभी वाहनों के द्रव्यमान में। कोई भी फ़ोटोग्राफ़ी हमेशा एक बड़ा डायम फुटबॉल जीवन और संस्कृति नहीं है। पुनर्वित्त। अचल संपत्ति लेता है। हालाँकि यूरो हमेशा सेट। कल, मेरी ज़िंदगी थी, पोज़ियर मोलिस अर्कू। गर्भवती को कोई लक्षित पोषण नहीं
                          </p>

                          <p>
                            अब तक, वाहनों को विलाप करने के लिए उप-प्रकार। ग्लूटेन। तनाव Vulputate एयरलाइन सॉस। माइक्रोवेव कार्टून क्लिनिकल में शेर का निवेश प्राप्त होता है। हालाँकि यूरो हमेशा सेट। कल, मेरी ज़िंदगी थी, पॉसुले मोलिस अर्कू। पेलेरेसेक iaculis ac hendrerit gravida nulla। पोर्टिको का प्रवेश द्वार या झील के किनारे पर फुटबॉल बास्केटबॉल बहुत नरम है। नाम अवरोध।
                          </p>
                      </div>

                      <div class="col-md-10 col-lg-8">
                          <div class="mt-4">
                              <a href="#" class="label label--sm label--secondary mb-2">ASP.NET</a>
                              <a href="#" class="label label--sm label--secondary mb-2">MVC</a>
                              <a href="#" class="label label--sm label--secondary mb-2">Chat</a>
                              <a href="#" class="label label--sm label--secondary mb-2">Design</a>
                              <a href="#" class="label label--sm label--secondary mb-2">Video</a>
                          </div>
                      </div>

                      <div class="col-md-10 col-lg-8">
                          <div class="clearfix mt-9 mb-9">
                              <div class="media mb-4">
                                  <div class="w-15 mr-4">
                                      <img class="rounded-pill" width="80" src="/assets/images/bls1.jpg" />
                                  </div>
                                  <div class="media-body">
                                      <a class="text-dark anim-link-2 clearfix h5" href="#">Charles Jones</a>
                                      <p class="mt-2">
                                          welcome Mauris mattis auctor cursus. Phasellus tellus tellus,
                                          imperdiet ut imperdiet eu, iaculis a sem. Donec vehicula luctus nunc
                                          in laoreet. Aliquam erat volutpat. Suspendisse vulputate porttitor condimentum.
                                      </p>

                                      <div class="social social-brand">
                                          <a class="social-facebook" href="#"><i class="fab fa-facebook"></i></a>
                                          <a class="social-twitter" href="#"><i class="fab fa-twitter"></i></a>
                                          <a class="social-gplus" href="#"><i class="fab fa-google-plus"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-lg-12">
                          <h3 class="h4 mb-3">संबंधित आलेख</h3>

                          <div data-provide=slider data-dots=true data-slides-to-show=3 data-slides-to-scroll=3>
                              <div>
                                  <div class="p-3">
                                      <div class="card text-white bg-img h-400 bg-img" style="background-image: url(/assets/images/bls1.jpg);" data-scrim-bottom="7">
                                          <div class="row h-100 p-5">
                                              <div class="col-12">
                                                  <div class="media align-items-center">
                                                      <img class="avatar avatar-xs mr-3" src="/assets/images/a1.jpg" alt="VeliDeli">
                                                      <a href="/User/VeliDeli" class="media-body"> <span class="anim-link-2">VeliDeli</span> </a>
                                                  </div>
                                              </div>
                                              <div class="col-12 align-self-end">
                                                  <small class="d-block mb-2">2 months ego</small>
                                                  <h3 class="card-title h5">
                                                      <a class="text-white anim-link-2" href="/whats-new-in-life">Whats new in Life? </a>
                                                  </h3>
                                                  <a class="m-link-muted fs-14" href="/graphic">Graphic</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div>
                                  <div class="p-3">
                                      <div class="card text-white bg-img h-400 bg-img" style="background-image: url(/assets/images/bls2.jpg);" data-scrim-bottom="7">
                                          <div class="row h-100 p-5">
                                              <div class="col-12">
                                                  <div class="media align-items-center">
                                                      <img class="avatar avatar-xs mr-3" src="/assets/images/a1.jpg" alt="VeliDeli">
                                                      <a href="/User/VeliDeli" class="media-body"> <span class="anim-link-2">VeliDeli</span> </a>
                                                  </div>
                                              </div>
                                              <div class="col-12 align-self-end">
                                                  <small class="d-block mb-2">2 months ego</small>
                                                  <h3 class="card-title h5">
                                                      <a class="text-white anim-link-2" href="/audio-post-example-with-default-view">Audio post example with default view </a>
                                                  </h3>
                                                  <a class="m-link-muted fs-14" href="/graphic">Graphic</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div>
                                  <div class="p-3">
                                      <div class="card text-white bg-img h-400 bg-img" style="background-image: url(/assets/images/bls3.jpg);" data-scrim-bottom="7">
                                          <div class="row h-100 p-5">
                                              <div class="col-12">
                                                  <div class="media align-items-center">
                                                      <img class="avatar avatar-xs mr-3" src="/assets/images/a1.jpg" alt="VeliDeli">
                                                      <a href="/User/VeliDeli" class="media-body"> <span class="anim-link-2">VeliDeli</span> </a>
                                                  </div>
                                              </div>
                                              <div class="col-12 align-self-end">
                                                  <small class="d-block mb-2">2 months ego</small>
                                                  <h3 class="card-title h5">
                                                      <a class="text-white anim-link-2" href="/the-great-divide">The Great Divide </a>
                                                  </h3>
                                                  <a class="m-link-muted fs-14" href="/graphic">Graphic</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-10 col-lg-8 my-9 pt-4" id="comments">
                          <h3 class="h4 mb-3">टिप्पणियाँ</h3>
                          <ul class="media-list m-0 p-0">
                              <li class="media mt-5">
                                  <a href="#">
                                      <img class="avatar mr-3 pi-img-round" src="/assets/images/avatar1.jpg">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="h6 mb-1">जूलिया ड्यूक  <span class="small ml-2 text-muted">5 महीने पहले</span></h4>
                                      <p class="mb-1">
                                        कल गैर गर्भवती में गाजर का स्वागत करें, स्वागत है मिर्च से नफरत है, पाठ्यक्रम के लेखक का स्वागत करते हैं। क्षेत्र के लिए नाम क्षेत्र, वित्तपोषण और फुटबॉल के वित्तपोषण, एक सलाद हड़पने। वल्गुलेट में, एक कार्टून फिल्म।
                                      </p>
                                      <a class="text-primary anim-link-2 small" href="#">जवाब दे दो</a>

                                      <div class="media mt-5">
                                          <a href="#">
                                              <img class="avatar mr-3 pi-img-round" src="/assets/images/bls1.jpg">
                                          </a>
                                          <div class="media-body">
                                              <h4 class="h6 mb-1">Charles Jones <span class="small ml-2 text-muted">5 महीने पहले</span></h4>
                                              <p class="mb-1">
                                                कर्बितुर कल, गाजर, मिर्च कल कल वुल्फुटेट समय से नफरत करते थे।
                                              </p>
                                              <a class="text-primary anim-link-2 small" href="#">जवाब दे दो</a>
                                          </div>
                                      </div>

                                      <div class="media mt-5">
                                          <a href="#">
                                              <img class="avatar mr-3 pi-img-round" src="/assets/images/avatar3.jpg">
                                          </a>
                                          <div class="media-body">
                                              <h4 class="h6 mb-1">जयशंकर प्रसाद <span class="small ml-2 text-muted">5 महीने पहले</span></h4>
                                              <p class="mb-1">
                                                कल गाजर को गैर-गर्भवती में डालें।
                                              </p>
                                              <a class="text-primary anim-link-2 small" href="#">जवाब दे दो</a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li class="media mt-5">
                                  <a href="#">
                                      <img class="avatar mr-3 pi-img-round" src="/assets/images/avatar2.jpg">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="h6 mb-1">रमेश साव <span class="small ml-2 text-muted">5 महीने पहले</span></h4>
                                      <p class="mb-1">
                                        कल कोई गाजर नहीं या अश्लील फिल्म पर स्वागत के डर से सट्टेबाजी का डर एक कार्टून फिल्म।
                                      </p>
                                      <a class="text-primary anim-link-2 small" href="#">जवाब दे दो</a>
                                  </div>
                              </li>
                          </ul>
                      </div>

                      <div class="col-md-10 col-lg-8">

                          <div class="clearfix mt-8 mb-4 add-comment-wrap">
                              <h3 class="h4 mb-3">
                                एक टिप्पणी छोड़ें
                              </h3>

                              <br />

                              <form action="#" method="post" role="form">
                                  <div class="form-group mb-5">
                                      <div class="row">
                                          <div class="col-sm-6">
                                              <label>आपका नाम <span class="required text-danger">*</span></label>
                                              <input class="form-control" id="FullName" name="FullName" placeholder="Your name" type="text" value="">
                                          </div>
                                          <div class="col-sm-6">
                                              <label>आपका ईमेल पता <span class="required text-danger">*</span></label>
                                              <input class="form-control" id="Email" name="Email" placeholder="ईमेल" type="email" value="">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="row">
                                          <div class="col-sm-12">
                                              <label>आपकी टिप्पणी <span class="required text-danger">*</span></label>
                                              <textarea class="form-control" cols="20" id="Content" name="Content" placeholder="टिप्पणी" rows="5" style="resize:none"></textarea>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <input type="submit" value="टिप्पणी पोस्ट करें" class="btn btn-primary btn-sm btn-wide transition-hover">
                                      <a class="comment-cancel m-link ml-3 d-none" href="#">रद्द करें</a>
                                  </div>
                                  <input data-val="true" data-val-number="The field PostId must be a number." data-val-required="The PostId field is required." id="PostId" name="PostId" type="hidden" value="10"><input data-val="true" data-val-number="The field ParentId must be a number." id="ParentId" name="ParentId" type="hidden" value="0"><input id="UserId" name="UserId" type="hidden" value="">
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
        </main>

        <!--Footer-Wrap-->
        <footer class="bg-dark">
          <!-- footer-content -->
          <%=require('html-loader!./partials/footer-content-dark.html')%>
          <!-- end footer-content -->

          <hr class="mt-0 mb-1">

          <!-- Copyright -->
          <%=require('html-loader!./partials/copyrights-narrow.html')%>
          <!-- End Copyright -->
      </footer>
        <!--End Footer-Wrap-->
    </div>
    <%=require('html-loader!./partials/javascripts.html')%>
</body>
</html>